<html>
	<head>
	
		<style>
		.left{
			float: left;
		}
		</style>
	</head>
<body>
	<div class="panel">
		
					
	</div>
	<script id="personTemplate" type="text/template">
		<table>
			<tr>
				 <td> Name </td>
				 <td><input type="text" value="<%= name %>" class="nameInput disableInput" disabled/></td>
			 </tr>
			<tr>
				<td>Age </td>
				<td><input type="text" value="<%= age %>" class="ageInput disableInput" disabled/></td>
			 </tr>
			<tr>
				<td><button class="edit" name="edit">Edit</button> </td>
				<td><button class="cancel" name="cancel">Cancel</button> </td>
			</tr>
		</table>
	</script>
	
	<script src="../cdn/js/underscore.js"></script>
	<script src="../cdn/js/jquery.js"></script>
	<script src="../cdn/js/backbone.js"></script>
	<script>
	
var Person = Backbone.Model.extend({
	defaults: {
		name: 'rakesh',
		age:'26',
		occupation: 'UI'
	} 	
});

var PersonView = Backbone.View.extend({
	
	template: _.template( $('#personTemplate').html()),
	events: {
	 'click .edit' : 'editData'

	},
	
	editData:function(){
		$('.disableInput').prop("disabled", false); 
		$('.edit').html("save");
	},

	initialize: function(){
		this.render();
		
	},
  
	render: function(){
		this.$el.html( this.template(this.model.toJSON()));
		return this;
	}
});
		
 var person = new Person();  // a person object created...
var personView = new PersonView({ model: person });

$('.panel').html(personView.el);
		
	</script>
	
</body>
</html>
